<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>segue</key>
		<string>HeadingsViewSegue</string>
		<key>title</key>
		<string>Headings</string>
	</dict>
	<dict>
		<key>segue</key>
		<string>ImagesViewSegue</string>
		<key>title</key>
		<string>Images</string>
	</dict>
	<dict>
		<key>segue</key>
		<string>TextSizeViewSegue</string>
		<key>title</key>
		<string>Text Size</string>
	</dict>
	<dict>
		<key>segue</key>
		<string>FieldLabelsViewSegue</string>
		<key>title</key>
		<string>Field Labels</string>
	</dict>
	<dict>
		<key>segue</key>
		<string>ButtonsViewSegue</string>
		<key>title</key>
		<string>Buttons</string>
	</dict>
	<dict>
		<key>New item</key>
		<string></string>
		<key>segue</key>
		<string>SliderViewSegue</string>
		<key>title</key>
		<string>Sliders</string>
	</dict>
	<dict>
		<key>segue</key>
		<string>SwitchesViewSegue</string>
		<key>title</key>
		<string>Switches</string>
	</dict>
	<dict>
		<key>segue</key>
		<string>StatusControlViewSegue</string>
		<key>title</key>
		<string>Status Control</string>
	</dict>
	<dict>
		<key>segue</key>
		<string>AlertDialogViewSegue</string>
		<key>title</key>
		<string>Alert Dialog</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Focus Order</string>
		<key>segue</key>
		<string>FocusOrderViewSegue</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Pickers</string>
		<key>segue</key>
		<string>PickersViewSegue</string>
	</dict>
</array>
</plist>
